body {
    align-content: center;
    background: beige;
    
}

.grid-container {
    display: grid;
    grid-template-columns: 74vw 26vw;
    grid-gap: 0px;
    font-family: Wizzta, Arial, sans-serif;

}

#map-container{
    display: inline-block;
    position: relative;
    height: 100vh;
    width: 74vw;
    
}
#key
{
    text-align: center;
}
#explain
{
    font-size: 25px;
   
    display: inline-block;
    padding: 10px;
}
.my-legend
{
    font-size: 35px;

    display: inline-block;
}
.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
  .my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }
  .my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .my-legend a {
    color: #777;
    }

#mapid { 
    height: 100vh;
}
/* Styles go here */
@font-face
{
    font-family:Wizzta;
    src: url(../Fonts/wizzta.ttf);
}
@media screen and (min-width:800px)
{
    #log
    {
        
        display: flex;
        font-family: Wizzta, Arial, sans-serif;
        font-size: 25px;
        padding: 15px;
        background-image: url("../images/logbackground2.jpg");
        background-repeat: repeat;
        height:100%;
        text-align: center;
        align-items: center;
    }
}
@media only screen and (max-width: 767px)
{
    #log
    {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        font-family: Wizzta, Arial, sans-serif;
        font-size: 12px;
        background-image: url("../images/logbackground2.jpg");
        background-repeat: repeat;
        max-width: 100%;
        overflow-x:hidden;
    }
}
#resetButton{
    width:150px;
    height:50px;
    font-size: 24px;
    background: white;
    display: inline-block;
    font-family: Wizzta,Arial, sans-serif;
    
}

