#map {
    /* width: 74vw; */
}

.grid-container {
    display: grid;
    grid-template-columns: 74vw 26vw;
    grid-gap: 0px;
    background: beige;

}

#map-container{
    display: inline-block;
    position: relative;
    height: 100vh;
    width: 74vw;
    
}

.svg-icon {
    display: inline-block;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
}

#mapid { 
    height: 100vh;
}
/* Styles go here */
@font-face
{
    font-family:Wizzta;
    src: url(../Fonts/wizzta.ttf);
}
@media screen and (min-width:801px)
{
    #log
    {
        
        display: flex;
        font-family: Wizzta, Arial, sans-serif;
        font-size: 25px;
        padding-left: 15px;
        padding-right: 15px;
        background-image: url("../images/logbackground2.jpg");
        background-repeat: repeat;
        height:100%;
        text-align: center;
        max-width: 100%;
    }
}
@media screen and (max-width:800px)
{
    #log
    {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        font-family: Wizzta, Arial, sans-serif;
        font-size: 12px;
        background-image: url("../images/logbackground2.jpg");
        background-repeat: repeat;
        max-width: 100%;
        overflow-x:hidden;
    }
}
/*
Styles for Homepage and Notes page
*/
body
{
    background-image:url("../images/homebg.jpg");
    text-align: center;
    font-family: Wizzta, Arial, sans-serif;

}
h1{
    font-size:88px;
}
a{
    color: black;
}
#start{
    font-size: 68px;
}
#notes{
    font-size:48px;
}
#about{
margin: auto;
width:50%;
font-size:36px;
background:rgba(255, 195, 83, 0.582);
padding:10px;
}
#credits
{margin: auto;
    width:50%;
    font-size:36px;
    background:rgba(255, 195, 83, 0.582);
    padding:10px;
}

