.grid-container {
    display: grid;
    grid-template-columns: 75vw 23vw;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#map-container{
    display: inline-block;
    position: relative;
    background-image: url("../images/Blank_Map_of_Europe_-w_boundaries.svg");
    background-size: 100%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 70vw;
}

.svg-icon {
    display: inline-block;
}
/* Styles go here */
@font-face
{
    font-family:Wizzta;
    src: url(../Fonts/wizzta.ttf);
}
@media screen and (min-width:801px)
{
    #log
    {
        display: flex;
        font-family: Wizzta, Arial, sans-serif;
        font-size: 24px;
        background-image: url("../images/logbackground2.jpg");
        background-repeat: repeat;
        overflow: scroll;
        height:100vh;
        text-align: center;
        max-width: 100%;
        overflow-x:hidden;
    }
}
@media screen and (max-width:800px)
{
    #log
    {
        display: flex;
        font-family: Wizzta, Arial, sans-serif;
        font-size: 12px;
        background-image: url("../images/logbackground2.jpg");
        background-repeat: repeat;
        max-width: 100%;
        overflow-x:hidden;
    }
}
